*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
}

h1{
    text-align: center;
    margin-top: 20px;
    font-size: 64px;
    color: white;
    background-color: #0c3168;
}
#u_nav{
    margin-top: 20px;
    display: flex;
    gap:30px;
    justify-content: center;
}
.nav{
    cursor: pointer;
}
li{
    list-style-type: none;
}
input{
    width: 100px;
    height: 30px;
    margin-top: 20px;
}
main{
    display: flex;
    width: 100%;
    justify-content:center;
    /* align-items: center; */
}
section, aside{
    width: 50%;
    text-align: center;
    background-color:#5184d1;
    color: white;
    margin: 20px;
}
div{
    margin-top: 20px;
    max-width: 120px;
    text-align: center;
}
.lista_org{
    margin-top: 20px;
    color: white;
}
.analisando{
    background-color: yellow;
    color: #0c3168;
}

.encontrado{
    background-color: lightgreen;
    color:#0c3168;
    font-weight: bold;
}